<div class="container">
    <div class="flat-form">
        <ul class="tabs">
            <li>
                <a href="#login" class="active">Login</a>
            </li>
            <li>
                <a href="#register">Register</a>
            </li>
            <li>
                <a href="#reset">Reset Password</a>
            </li>
        </ul>
        <div id="login" class="form-action show">
            <h1>Login</h1>
            <p>
                Please login in the system. If you do not have one account, please click the Register button for registration.
            </p>
            <form>
                <ul>
                    <li>
                        <input type="text" placeholder="Username" />
                    </li>
                    <li>
                        <input type="password" placeholder="Password" />
                    </li>
                    <li>
                        <input type="submit" value="Login" class="button" />
                    </li>
                </ul>
            </form>
        </div>
        <!--/#login.form-action-->
        <div id="register" class="form-action hide">
            <h1>Register</h1>
            <p>
                You should totally sign up for our super awesome service. There are many people can help you out.
            </p>
            <form>
                <ul>
                    <li>
                        <input type="text" placeholder="Username" />
                    </li>
                    <li>
                        <input type="password" placeholder="Password" />
                    </li>
                    <li>
                        <input type="submit" value="Sign Up" class="button" />
                    </li>
                </ul>
            </form>
        </div>
        <!--/#register.form-action-->
        <div id="reset" class="form-action hide">
            <h1>Reset Password</h1>
            <p>
                To reset your password enter your email and your birthday and we'll send you a link to reset your password.
            </p>
            <form>
                <ul>
                    <li>
                        <input type="text" placeholder="Email" />
                    </li>
                    <li>
                        <input type="text" placeholder="Birthday" />
                    </li>
                    <li>
                        <input type="submit" value="Send" class="button" />
                    </li>
                </ul>
            </form>
        </div>
        <!--/#register.form-action-->
    </div>
</div>
